# Build
build/
cmake-build-*/
*.exe
*.dll
*.lib
*.pdb

# IDE
.vs/
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
.backup
*.backup
.backup2
*.backup2

# Cache
*.log
*.tmp
cache/
*.cache

# Dependencies
vcpkg_installed/
